<!DOCTYPE html>
{% load static %}
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>COMP</title>
    
    <!-- Bootstrap core CSS -->
    <link href="{% static 'compsite_pro/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'compsite_pro/assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'compsite_pro/assets/css/templatemo-grad-school.css' %}">
    <link rel="stylesheet" href="{% static 'compsite_pro/assets/css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'compsite_pro/assets/css/lightbox.css' %}">
<!--
    
TemplateMo 557 Grad School

https://templatemo.com/tm-557-grad-school

-->
  </head>

<body>

   
  <!--header-->
  <header class="main-header clearfix" role="header">
    <div class="logo">
      <a href="{% url 'compsite_pro:index' %}"><em>COMP</em>A</a>
    </div>
    <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
    <nav id="menu" class="main-nav" role="navigation">
        <ul class="mainmenu">
        <li><a href="{% url 'compsite_pro:index' %}" class="check">Home</a></li>
        <li><a href="{% url 'compsite_pro:about' %}">About Us</a>
         
        </li>{% if user.is_authenticated %}
        <li><a href="{% url 'compsite_pro:topics' %}">Subjects</a></li>
        <!-- <li><a href="#section5">Video</a></li> -->
        
        <li><a href="{% url 'users:logout' %}">log out</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
    

  </body>
</html>
{% block content %}{% endblock content %}