<!doctype html>
{% load bootstrap3 %}
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'compsite_pro/style.css'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    <title>Home</title>
    <style>
        #navlink1 {
    color: black;
    font-family: Roboto;

}

#navlink2 {
    color: black;
    font-family: Roboto;

}

#navlink3 {
    color: black;
    font-family: Roboto;

}

#navlink4 {
    color: black;
    font-family: Roboto;

}

.Nav-image {
    height: 70px;
    width: 90px;
}

.school-background {
    background-color: #dce7f2;

}

.school-main-heading {

    color: #183b56;
    font-family: Roboto;
    font-size: 30px;
    font-weight: bold;

}

.item-iamges {
    height: 90px;
    width: 100px;
}

.school-item-container {
    background-color: #f2f7f7;
    width: 100%;
    border-radius: 10px;


}

.item-image-heading {
    color: #748794;

    font-family: Roboto;
    font-size: 14px;
    font-weight: 600;

}

    </style>
    
    {% bootstrap_css %}
   {% bootstrap_javascript %}
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
      <div class="navbar-header">
       <button type="button" class="navbar-toggle collapsed"
      data-toggle="collapse" data-target="#navbar"
      aria-expanded="false" aria-controls="navbar">
      </button>
      <a class="navbar-brand" href="{% url 'compsite_pro:index' %}">
      COMP</a>
      </div>
       <div id="navbar" class="navbar-collapse collapse">
        {% if user.is_authenticated %}
       <ul class="nav navbar-nav">
       <li><a href="{% url 'compsite_pro:topics' %}">Subjects</a></li>
      </ul>{% endif %}
      <ul class="nav navbar-nav navbar-right">
      {% if user.is_authenticated %}
      <li><a> {{ user.username }}.</a></li>
      <li><a href="{% url 'users:logout' %}">log out</a></li>
      {% else %}
      <li><a href="{% url 'users:register' %}">register</a></li>
      <li><a href="{% url 'users:login' %}">log in</a></li>
      {% endif %}
      </ul>
      </div><!--/.nav-collapse -->
      </div>
      </nav>
      <div id="sectionstudent">
        <div class="school-background pt-5 pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1 class="school-main-heading"> Student Mangement </h1>
                    </div>

                    <div class="col-12 col-md-6 col-lg-3 mt-2">
                        <div class="shadow school-item-container text-center p-3 mb-3" onclick="display('sectionsubject')">
                            <img src="https://w7.pngwing.com/pngs/744/285/png-transparent-syllabus-computer-icons-school-the-last-of-us-icon-angle-text-rectangle-thumbnail.png" class="item-iamges" /> {% if user.is_authenticated %}
                            <h1 class="item-image-heading mt-3"><a href="{% url 'compsite_pro:topics' %}">Subject & syllabus </a></h1>{% endif %}
                        </div>
                    </div>

                    <div class="col-12  col-md-6 col-lg-3">
                        <div class="shadow school-item-container text-center p-3 mb-3">
                          
                           
                           
                            <a href="{% url 'compsite_pro:coming' %}">  <img src="https://cdn-icons-png.flaticon.com/512/2693/2693624.png" class="item-iamges" /><h1 class="item-image-heading mt-3"> Live Classes </h1> </a>
                        </div>
                    </div>

                    <div class="col-12  col-md-6 col-lg-3">
                        <div class="shadow school-item-container text-center p-3 mb-3">
                          
                           <a href="{% url 'compsite_pro:coming' %}l">  <img src="https://cdn-icons-png.flaticon.com/512/3403/3403561.png" class="item-iamges" /><h1 class="item-image-heading mt-3"> Offline/Online <br> Examination </h1> </a>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="shadow school-item-container text-center p-3 mb-3">
                           
                            <a href="{% url 'compsite_pro:coming' %}"> <img src="https://www.pngitem.com/pimgs/m/72-720604_list-romeo-landinez-co-list-icon-blue-png.png" class="item-iamges" /><h1 class="item-image-heading mt-3"> Exam Category </h1></a>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="shadow school-item-container text-center p-3 mb-3">
                            
                           <a href="{% url 'compsite_pro:coming' %}"> <img src="https://www.vhv.rs/dpng/d/540-5402396_transparent-bar-graph-clipart-blue-bar-graph-icon.png" class="item-iamges" /><h1 class="item-image-heading mt-3"> Marks & Grades </h1></a>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="shadow school-item-container text-center p-3 mb-3">
                           
                           <a href="{% url 'compsite_pro:coming' %}"> <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/grade-book-2847268-2367388.png" class="item-iamges" /><h1 class="item-image-heading mt-3"> Gradebook </h1> </a>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="shadow school-item-container text-center p-3 mb-3">
                           
                            <a href="{% url 'compsite_pro:coming' %}"> <img src="https://w7.pngwing.com/pngs/310/78/png-transparent-id-card-blue-square-text-symbol-student-id-blue-text-rectangle-thumbnail.png" class="item-iamges" /><h1 class="item-image-heading mt-3"> Student Id Card </h1></a>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="shadow school-item-container text-center p-3 mb-3">
                           
                           <a href="{% url 'compsite_pro:coming' %}">  <img src="https://png.pngtree.com/png-vector/20211129/ourmid/pngtree-money-growth-with-graph-vector-png-image_4043616.png" class="item-iamges" /><h1 class="item-image-heading mt-3"> Students's Promotion </h1></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div id="sectionsubject">
        <div class="school-background pt-5 pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1 class="school-main-heading"> Subject </h1>
                    </div>

                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="shadow school-item-container text-center p-3 mb-3">
                           
                            <a href="coming.html"> <img src="https://w7.pngwing.com/pngs/744/285/png-transparent-syllabus-computer-icons-school-the-last-of-us-icon-angle-text-rectangle-thumbnail.png" class="item-iamges" /><h1 class="item-image-heading mt-3"> Maths </h1></a>
                        </div>
                    </div>

                    <div class="col-12  col-md-6 col-lg-3">
                        <div class="shadow school-item-container text-center p-3 mb-3">
                           
                            <a href="coming.html"> <img src="https://cdn-icons-png.flaticon.com/512/2693/2693624.png" class="item-iamges" /><h1 class="item-image-heading mt-3"> Physics </h1></a>
                        </div>
                    </div>

                    <div class="col-12  col-md-6 col-lg-3">
                        <div class="shadow school-item-container text-center p-3 mb-3">
                           
                            <a href="coming.html"> <img src="https://cdn-icons-png.flaticon.com/512/3403/3403561.png" class="item-iamges" /><h1 class="item-image-heading mt-3"> Chemistry </h1></a>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="shadow school-item-container text-center p-3 mb-3">
                          
                            <a href="coming.html">  <img src="https://www.pngitem.com/pimgs/m/72-720604_list-romeo-landinez-co-list-icon-blue-png.png" class="item-iamges" /><h1 class="item-image-heading mt-3"> Mechanics </h1></a>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="shadow school-item-container text-center p-3 mb-3">
                            
                            <a href="coming.html"><img src="https://www.vhv.rs/dpng/d/540-5402396_transparent-bar-graph-clipart-blue-bar-graph-icon.png" class="item-iamges" /><h1 class="item-image-heading mt-3"> EGD </h1></a>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="shadow school-item-container text-center p-3 mb-3">
                           
                           <a href="coming.html"> <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/grade-book-2847268-2367388.png" class="item-iamges" /><h1 class="item-image-heading mt-3"> PPS </h1> </a>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="shadow school-item-container text-center p-3 mb-3">
                             <img src="https://w7.pngwing.com/pngs/310/78/png-transparent-id-card-blue-square-text-symbol-student-id-blue-text-rectangle-thumbnail.png" class="item-iamges" />
                            <a href="coming.html"><h1 class="item-image-heading mt-3"> WMP </h1></a>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="shadow school-item-container text-center p-3 mb-3">
                            
                           <a href="coming.html"> <img src="https://png.pngtree.com/png-vector/20211129/ourmid/pngtree-money-growth-with-graph-vector-png-image_4043616.png" class="item-iamges" /><h1 class="item-image-heading mt-3"> ABL </h1></a>
                           
                        </div>
                    

                    <div class="col-12">
                        <div>
                            <button class="bg-dark" onclick="display('sectionstudent')"> Back </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    







</div>

  </body>
</html>