.container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    margin:100px;
    padding: 60px;
    background-color: aliceblue;
  }
body {
    padding: 7%;
    background-color: #b0f4fc; 
    margin:40px auto;
  }
li{
    font-size: 0%;
}
.help-block{
    font-size: 0%;
}
.form-control{
    border-color: #f4c531;
    margin-bottom: 0.9em;
    border-bottom: #f4c531 3px;
    
}
.helptext{
    font-size: 0%;
}
input{
    border: #f4c531 6px;
    border-radius: 25px;
}
form{
    padding: 20px ;
    background-color: #ffffff;
    border-radius: 20px;
    max-width: 400px;
    min-width: 250px;
}
h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}